{% extends 'pilgrimage/base.html' %}

{% block title %}Booking History{% endblock %}

{% block content %}
    <h1>Booking History</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul>
        {% for booking in bookings %}
        <li>{{ booking.name }} - {{ booking.service }} - {{ booking.date_of_visit }}</li>
        {% endfor %}
    </ul>
{% endblock %}
