<!-- pilgrimage/templates/pilgrimage/booking_history.html -->

{% extends 'pilgrimage/base.html' %}

{% block title %}Booking History{% endblock %}

{% block additional_css %}
    <style>
        /* Additional styles for the Booking History page */
        .booking-history-container {
            background-color: #fcfcfc; /* Light background color */
            padding: 20px;
            margin-top: 70px; /* Adjusted margin for content below the navbar */
        }

        h1 {
            color: #333; /* Dark text color */
        }

        ul.messages {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ul.messages li {
            color: #555; /* Slightly darker text color */
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            color: #555; /* Slightly darker text color */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="booking-history-container">
        <h1>Booking History</h1>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <ul>
            {% for pilgrim in pilgrims %}
                <li>{{ pilgrim.name }} - {{ pilgrim.service }} - {{ pilgrim.date_of_visit }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
